:root {
    --primary-color: #0B233E;
    --secondary-color: #D6E4F4;
    --font-heading1: 45px;
    --font-heading2: 40px;
    --font-heading3: 35px;
    --font-heading4: 30px;
    --font-paragraph: 22px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo img {
    max-width: 200px;
}

body {
    background-color: #D6E4F4;
}

.section-discover h3{
    color: #fff;
    background-color:var(--primary-color);
}

.section-discover ul{
    color: #000000;
    background-color: rgba(11, 35, 62, 0.4);
}

.promo-section{
    background-color: #5483B3;

}

.careers{
    background-color: #5483B3;
    padding: 3rem 10rem;
}
.careers button{
    background-color: #0B233E;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 30px;
}

footer{
    background-color: #0B233E;
}
footer .logo img{
    max-width: 200px;
    display: block;
}
footer li {
    list-style: none;
    margin: 0 1rem;
    margin: 1rem 0rem;


}
footer ul li a{
    color: #fff;
    text-decoration: none;
}
.logo-about img{
    max-width: 200px;
    /* display: block; */
}

.about-body{
    background-color: #D6E4F4;
    /* padding: 3rem 10rem; */
}
.stories-section{
    background-color:#5483B3;
    padding: 3rem 10rem;
}

.faqs-bg{
    background-color: #D6E4F4;
}
.card-1, .card-2, .card-3, .card-4{
    background-color:#0B233E; 
}
.signup-section{
    background-color:#5483B3;
}
.member-info{
    background-color: #5483B3;
}

.memb-sec{
    padding: 15rem;
}
.contact-bg{
    background-color: #0B233E;
}
.btn-color{
    background-color:#D6E4F4; 
}